In [ ]:
lista = [16, 14, 63, 65, 17, 99, 70, 11, 20, 48, 79, 32, 17, 89, 12, 25, 66]
# 1. Leer el tamaño de la lista
# 2. Leer el valor máximo y mínimo
# 3. Calcular la suma de los valores de la lista
# 4. Mostrar un mensaje al final: La lista tiene `tamano` números, donde el mayor
# es `mayor` y el menor es `menor`. La suma de los valores es `suma`.
def actions_to_list(lista:list):
  maximo, minimo = max(lista), min(lista)
  suma = sum (lista)
  print(f"La lista tiene {len(lista)} numeros donde el mayor es {maximo} y el menor es { minimo}. La suma de los valores es {suma} ")

actions_to_list(lista)

La lista tiene 17 numeros donde el mayor es 99 y el menor es 11. La suma de los valores es 743

In [ ]:
'''
2 - Escribe una función que genere la tabla de multiplicar de un
número entero del 1 al 10, según la elección del usuario. Como ejemplo,
para el número 7, la tabla de multiplicar se debe mostrar en el siguiente formato:

# Tabla del  7:
# 7 x 0 = 0
# 7 x 1 = 7
# [...]
# 7 x 10 = 70
'''

def generate_multiplication_table():
  number = int(input("Ingresa un numero para generar una tabla de multiplicar: "))
  print("Tabla del %d"%(number))
  for i in range(0,11):
    print(f"{number} x {i} = {number * i}")

generate_multiplication_table()

Ingresa un numero para generar una tabla de multiplicar: 5
Tabla del 5
5 x 0 = 0
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50

In [ ]:
#3 - Crea una función que lea la siguiente lista y devuelva una nueva
# lista con los múltiplos de 3:
lista = [97, 80, 94, 88, 80, 1, 16, 53, 62, 32, 24, 99]

def multiplos_tres(lista):
  return [num for num in lista if num % 3 == 0]

print(multiplos_tres(lista))

[24, 99]

In [ ]:
'''
4 - Crea una lista de los cuadrados de los números de la siguiente lista
 [1, 2, 3, 4, 5, 6, 7, 8, 9, 10].
 Recuerda utilizar las funciones lambda y map() para calcular el cuadrado de cada elemento de la lista.
'''
lista = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

cuadrados = list(map(lambda x: pow(x,2), lista))
print(cuadrados)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [ ]:
'''
5 - Has sido contratado como científico(a) de datos de una asociación de skate.
Para analizar las notas recibidas por los skaters en algunas competiciones a lo largo del año,
necesitas crear un código que calcule la puntuación de los atletas.
Para ello, tu código debe recibir 5 notas ingresadas por los jueces.
'''

def notes ():
  lista:list = []

  for i in range(5):
    lista.append(float(input("Ingresa una nota: ")))

  promedio = sum(lista)/len(lista)
  print(lista, promedio)

notes()

Ingresa una nota: 8
Ingresa una nota: 7
Ingresa una nota: 5
Ingresa una nota: 8
Ingresa una nota: 9
[8.0, 7.0, 5.0, 8.0, 9.0] 7.4

In [ ]:
'''
6 - Para cumplir con una demanda de una institución educativa para el análisis del rendimiento de sus estudiantes, necesitas crear una función que reciba una lista de 4 notas y devuelva:
# mayor nota
# menor nota
# media
# situación (Aprobado(a) o Reprobado(a))
# Uso de la función
# Mostrar: El estudiante obtuvo una media de `media`, con la mayor nota de `mayor` puntos y la menor nota de `menor` puntos y fue `situacion`.)
'''

def calc_calificacaciones(lista: list):
  maximo,minimo = max(lista), min(lista)
  media = sum(lista)/ len(lista)
  situacion:str

  if media >=7:
    situacion = "aprovado"
  else:
    situacion = "reprobado"

  print(f"El estudiante obtuvo una media de {media}, con la mayor nota de {maximo} puntos y la menor nota de {minimo} puntos y fue {situacion}.")

In [ ]:
'''
7 - Has recibido una demanda para tratar 2 listas con los nombres y apellidos de cada estudiante concatenándolos para presentar sus nombres completos en la forma Nombre Apellido. Las listas son:
nombres = ["juan", "MaRia", "JOSÉ"]
apellidos = ["SILVA", "sosa", "Tavares"]

# Normalizar nombres y apellidos y crear una nueva lista con los nombres completos
# Puedes apoyarte en la función map()
'''
nombres = ["juan", "MaRia", "JOSÉ"]
apellidos = ["SILVA", "sosa", "Tavares"]

names = list(map(lambda x:x.capitalize(), nombres))
last_names = list(map(lambda x:x.capitalize(), apellidos))

one_more = [1, 2, 3]

full_names = list(map(lambda x, y, z: f"{x} {y} {z}", names, last_names, one_more))

print(full_names)

['Juan Silva 1', 'Maria Sosa 2', 'José Tavares 3']

In [ ]:
'''
8. Como científico de datos en un equipo de fútbol, necesitas implementar nuevas formas de recopilación de datos sobre el
rendimiento de los jugadores y del equipo en su conjunto. Tu primera acción es crear una forma de calcular la puntuación
del equipo en el campeonato nacional a partir de los datos de goles marcados y recibidos en cada juego.

Escribe una función llamada calcula_puntos() que recibe como parámetros dos listas de números enteros, representando los
goles marcados y recibidos por el equipo en cada partido del campeonato. La función debe devolver la puntuación del equipo y
el rendimiento en porcentaje, teniendo en cuenta que la victoria vale 3 puntos, el empate 1 punto y la derrota 0 puntos.

Nota: si la cantidad de goles marcados en un partido es mayor que los recibidos, el equipo ganó.
En caso de ser igual, el equipo empató, y si es menor, el equipo perdió.
Para calcular el rendimiento, debemos hacer la razón entre la puntuación del equipo y la puntuación máxima que podría recibir.

Para la prueba, utiliza las siguientes listas de goles marcados y recibidos:

goles_marcados = [2, 1, 3, 1, 0]
goles_recibidos = [1, 2, 2, 1, 3]
# Texto probablemente mostrado:
# La puntuación del equipo fue `puntos` y su rendimiento fue `desempeno`%"
'''
goals_scored = [2, 1, 3, 1, 0]
goals_conceded = [1, 2, 2, 1, 3]

def calculate_points(goals_scored:list, goals_conceded:list):
  total_points = len(goals_scored) * 3
  points = 0

  for i in range(len(goals_scored)):
    if goals_scored[i] > goals_conceded[i]:
      points +=3
    elif goals_scored[i] == goals_conceded[i]:
      points +=1
    else:
      print('Caso innesperado')
  return f"La puntuacion de tu equipo fue {points} puntos y su rendimiento fue de {round(points * 100 / total_points)}%"

calculate_points(goals_scored, goals_conceded)

Caso innesperado
Caso innesperado

'La puntuacion de tu equipo fue 7 puntos y su rendimiento fue de 47%'

In [ ]:
'''
9 - Te han desafiado a crear un código que calcule los gastos de un viaje a una de las cuatro ciudades desde Recife,
siendo ellas: Salvador, Fortaleza, Natal y Aracaju.

El costo diario del hotel es de 150 reales en todas ellas y el consumo de gasolina en el viaje en coche es de 14 km/l,
siendo que el precio de la gasolina es de 5 reales por litro. Los gastos con paseos y alimentación a realizar en cada una de
ellas por día serían [200, 400, 250, 300], respectivamente.

Sabiendo que las distancias entre Recife y cada una de las ciudades son aproximadamente [850, 800, 300, 550] km,
crea tres funciones:
-> la primera función calcula los gastos de hotel (gasto_hotel),
-> la segunda calcula los gastos de gasolina (gasto_gasolina)
-> la tercera los gastos de paseo y alimentación (gasto_paseo).

Para probar, simula un viaje de 3 días a Salvador desde Recife. Considera el viaje de ida y vuelta en coche.

# Texto probablemente mostrado:
# Con base en los gastos definidos, un viaje de [dias] días a [ciudad] desde
# Recife costaría [gastos] reales.
'''


def hotel_expense(days):
  return days * 150

def gasoline_expense(distance):
  total = distance / 14
  return total * 5

def tour_expense(days, price):
  return days * price

NameError: name 'gasoline_expense' is not defined

In [ ]:
'''
10 - Has comenzado una pasantía en una empresa que trabaja con procesamiento de lenguaje natural (NLP). Tu líder te solicitó
que crees un fragmento de código que reciba una frase escrita por el usuario y filtre solo las palabras con un tamaño mayor o igual a 5, mostrándolas en una lista. Esta demanda se centra en el análisis del patrón de comportamiento de las personas al escribir palabras de esta cantidad de caracteres o más.

Consejo: utiliza las funciones lambda y filter() para filtrar estas palabras. Recordando que la función integrada filter() recibe una función (en nuestro caso, una función lambda) y filtra un iterable según la función. Para tratar la frase, utiliza replace() para cambiar ',' '.', '!' y '?' por espacio.

Utiliza la frase "Aprender Python aquí en Alura es muy bueno" para probar el código.
'''

In [ ]:
nombres_estudiantes = ["Enrique Montero", "Luna Pereira", "Anthony Silva", "Leticia Fernandez", "Juan González", "Maira Caldera", "Diana Carvajo", "Mariana Rosas", "Camila Fernandez", "Levi Alves", "Nicolás Rocha", "Amanda Navas",  "Lara Morales", "Leticia Olivera", "Lucas Navas", "Lara Arteaga", "Beatriz Martinez", "Victor Acevedo", "Stephany Hernández", "Gustavo Lima"]

medias_estudiantes = [5.4, 4.1, 9.1, 5.3, 6.9, 3.1, 9.0, 5.0, 8.2, 5.5,
                    8.1, 7.4, 5.0, 3.7, 8.1, 6.2, 6.1, 5.6, 10.0, 8.2]

# Esta es una manera utilizando las listas con indices
promedio_estudiantes = {nombres_estudiantes[i]: medias_estudiantes[i] for i in range(len(nombres_estudiantes)) if medias_estudiantes[i] >= 9}

# Utilizando zip
promedios_estudiantes = {name: media for name, media in zip(nombres_estudiantes, medias_estudiantes) if media >=9}

# estudiantes_becados = {key: if value > 8 for key, value in promedio_estudiantes.items()}
promedio_estudiantes

{'Anthony Silva': 9.1, 'Diana Carvajo': 9.0, 'Stephany Hernández': 10.0}

In [ ]:
# 1 - Crea un código para imprimir la suma de los elementos de cada una de las listas contenidas en la siguiente lista:
lista_de_listas = [[4, 6, 5, 9], [1, 0, 7, 2], [3, 4, 1, 8]]

print([sum(lista_de_listas[i]) for i in range(len(lista_de_listas))])

print([sum(suma) for suma in lista_de_listas])

[24, 10, 16]
[24, 10, 16]

In [ ]:
# 2 - Crea un código para generar una lista que almacene el tercer elemento de cada tupla contenida en la siguiente lista de tuplas:
lista_de_tuplas = [('Pedro', 1.74, 81), ('Júlia', 1.65, 67), ('Otávio', 1.81, 83)]

lista_tercer_elemento = [lista[-1] for lista in zip(*lista_de_tuplas)]
# lista_tercer_elemento = [lista[-1] for lista in lista_de_tuplas]
lista_tercer_elemento

[81, 67, 83]

In [ ]:
# 3 - A partir de la lista crea un código para generar una lista de tuplas en la que cada tupla tenga el primer elemento como la posición del nombre en la lista original y el segundo elemento siendo el propio nombre.

lista = ['Pedro', 'Júlia', 'Otávio', 'Eduardo']

nombres_tupla = [(i, lista[i]) for i in range(len(lista)) ]
nombres_tupla

[(0, 'Pedro'), (1, 'Júlia'), (2, 'Otávio'), (3, 'Eduardo')]

In [ ]:
# 4 - Crea una lista usando la comprensión de listas (list comprehension) que almacene solo el valor numérico de cada tupla en caso de que el primer elemento sea 'Apartamento', a partir de la siguiente lista de tuplas:

alquiler = [('Apartamento', 1700), ('Apartamento', 1400), ('Casa', 2150), ('Apartamento', 1900), ('Casa', 1100)]

prices = [price for site, price in alquiler if site.lower() == 'apartamento']
# prices = [alquiler[i][1] for i in range(len(alquiler)) if alquiler[i][0].lower() == 'apartamento' ]
prices

[1700, 1400, 1900]

In [ ]:
# 5 - Crea un diccionario usando la comprensión de diccionarios (dict comprehension) en el que las claves estén en la
# lista meses = ['Jan', 'Fev', 'Mar', 'Abr', 'Mai', 'Jun', 'Jul', 'Ago', 'Set', 'Out', 'Nov', 'Dez'] y los valores estén en
# gasto = [860, 490, 1010, 780, 900, 630, 590, 770, 620, 560, 840, 360].

meses = ['Jan', 'Fev', 'Mar', 'Abr', 'Mai', 'Jun', 'Jul', 'Ago', 'Set', 'Out', 'Nov', 'Dez']
gasto = [860, 490, 1010, 780, 900, 630, 590, 770, 620, 560, 840, 360]

diccionario = {meses[i]: gasto[i] for i in range(len(meses))}
diccionario

{'Jan': 860,
 'Fev': 490,
 'Mar': 1010,
 'Abr': 780,
 'Mai': 900,
 'Jun': 630,
 'Jul': 590,
 'Ago': 770,
 'Set': 620,
 'Out': 560,
 'Nov': 840,
 'Dez': 360}

In [ ]:
# 6 - Una tienda tiene una base de datos con la información de venta de cada representante y de cada año y necesita filtrar solo los datos del año 2022 con ventas mayores a 6000.
# La tienda proporcionó una muestra con solo las columnas de los años y los valores de venta para que puedas ayudar a realizar la filtración de los datos a través de un código:

ventas = [('2023', 4093), ('2021', 4320), ('2021', 5959), ('2022', 8883), ('2023', 9859), ('2022', 5141), ('2022', 7688), ('2022', 9544), ('2023', 4794), ('2021', 7178), ('2022', 3030), ('2021', 7471), ('2022', 4226), ('2022', 8190), ('2021', 9680), ('2022', 5616)]

ventas_mayores_2022 = [venta for venta in ventas if venta[0]=='2022' and venta[1] > 6000]
ventas_mayores_2022

[('2022', 8883), ('2022', 7688), ('2022', 9544), ('2022', 8190)]

In [ ]:
# 7 - Una clínica analiza datos de pacientes y almacena el valor numérico de la glucosa en una base de datos y le gustaría etiquetar los datos de la siguiente manera:

# Glucosa igual o inferior a 70: 'Hipoglicemia'
# Glucosa entre 70 y 99: 'Normal'
# Glucosa entre 100 y 125: 'Alterada'
# Glucosa superior a 125: 'Diabetes'

# La clínica proporcionó parte de los valores y tu tarea es crear una lista de tuplas usando la comprensión de listas que contenga la etiqueta y el valor de la glucemia en cada tupla.

glicemia = [129, 82, 60, 97, 101, 65, 62, 167, 87, 53, 58, 92, 66, 120, 109, 62, 86, 96, 103, 88, 155, 52, 89, 73]
tags = ['Hipoglicemia', 'Normal', 'Alterada', 'Diabetes']

db = {tags[i]: [] for i in range(len(tags))}

for value in glicemia:
  if value > 125:
    db['Diabetes'].append(value)
  elif value >= 100 and value < 125:
    db['Alterada'].append(value)
  elif value >= 70 and value < 100:
    db['Normal'].append(value)
  elif value <= 70:
    db['Hipoglicemia'].append(value)

db

{'Hipoglicemia': [60, 65, 62, 53, 58, 66, 62, 52],
 'Normal': [82, 97, 87, 92, 86, 96, 88, 89, 73],
 'Alterada': [101, 120, 109, 103],
 'Diabetes': [129, 167, 155]}

In [ ]:
'''
8 - Un comercio electrónico tiene información de id de venta, cantidad vendida y precio del producto divididos en las siguientes listas:

La plataforma necesita estructurar estos datos en una tabla que contenga el
valor total de la venta -> que se obtiene multiplicando la cantidad por el precio unitario.
la tabla debe contener un encabezado indicando las columnas: 'id', 'cantidad', 'precio' y 'total'.

Crea una lista de tuplas en la que cada tupla tenga id, cantidad, precio y valor total, siendo la primera tupla el encabezado de la tabla.
'''
id = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
cantidad = [15, 12, 1, 15, 2, 11, 2, 12, 2, 4]
precio = [93.0, 102.0, 18.0, 41.0, 122.0, 14.0, 71.0, 48.0, 14.0, 144.0]

encabezados = ('id',  'cantidad', 'precio', 'valor total')

lista = [(id, cantidad, precio, (precio * cantidad)) for id, cantidad, precio in zip(id, cantidad, precio)]
lista[0] = encabezados

lista

[('id', 'cantidad', 'precio', 'valor total'),
 (1, 12, 102.0, 1224.0),
 (2, 1, 18.0, 18.0),
 (3, 15, 41.0, 615.0),
 (4, 2, 122.0, 244.0),
 (5, 11, 14.0, 154.0),
 (6, 2, 71.0, 142.0),
 (7, 12, 48.0, 576.0),
 (8, 2, 14.0, 28.0),
 (9, 4, 144.0, 576.0)]

In [ ]:
'''
9 - Una empresa tiene sucursales distribuidas en los estados de la región Sudeste de Brasil. En una de las tablas de registro de las sucursales, hay una columna que contiene la información de a qué estado pertenece:
estados =['CMX', 'OAX', 'PUE', 'PUE', 'CMX', 'PUE', 'OAX', 'OAX', 'OAX', 'CMX', 'CMX', 'PUE', 'OAX', 'CMX', 'VER', 'PUE', 'VER', 'CMX', 'PUE', 'CMX', 'OAX', 'CMX', 'PUE'].

La empresa siempre está abriendo nuevas sucursales, por lo que la tabla está constantemente recibiendo nuevos registros y al gerente le gustaría tener la información actualizada de la cantidad de sucursales en cada estado.

A partir de la columna con la información de los estados, crea un diccionario utilizando la comprensión de diccionarios (dict comprehension) con la clave siendo el nombre de un estado
y el valor siendo la cantidad de veces que aparece el estado en la lista.

Consejo: Puedes hacer un paso intermedio para generar una lista de listas en la que cada una de las listas tenga el nombre de solo un estado con valores repetidos.
'''
estados =['CMX', 'OAX', 'PUE', 'PUE', 'CMX', 'PUE', 'OAX', 'OAX', 'OAX', 'CMX', 'CMX', 'PUE', 'OAX', 'CMX', 'VER', 'PUE', 'VER', 'CMX', 'PUE', 'CMX', 'OAX', 'CMX', 'PUE']

lista_de_listas = []
# crear el for
# crear la primera coincidencia
# verificar si ya existe uno registro igual
# si existe almacenarlo en esta lista y si no crear una nueva lista

estados_unicos = []
[estados_unicos.append(value) for value in estados if value not in estados_unicos]

for estado in estados_unicos:
  lista = [e for e in estados if e == estado ]
  lista_de_listas.append(lista)

db = {lista[0]: len(lista) for lista in lista_de_listas}
print(db, lista_de_listas)

{'CMX': 8, 'OAX': 6, 'PUE': 7, 'VER': 2} [['CMX', 'CMX', 'CMX', 'CMX', 'CMX', 'CMX', 'CMX', 'CMX'], ['OAX', 'OAX', 'OAX', 'OAX', 'OAX', 'OAX'], ['PUE', 'PUE', 'PUE', 'PUE', 'PUE', 'PUE', 'PUE'], ['VER', 'VER']]
[['PUE', 'PUE', 'PUE', 'PUE', 'PUE', 'PUE', 'PUE'], ['VER', 'VER'], ['OAX', 'OAX', 'OAX', 'OAX', 'OAX', 'OAX'], ['CMX', 'CMX', 'CMX', 'CMX', 'CMX', 'CMX', 'CMX', 'CMX']]
{'PUE': 7, 'VER': 2, 'OAX': 6, 'CMX': 8}

In [ ]:
'''
10 - En esa misma tabla de registro de sucursales, hay una columna con la información de la cantidad de personas empleadas y el gerente quisiera tener un agrupamiento de la suma de esas personas para cada estado.
Las informaciones contenidas en la tabla son:

A partir de la lista de tuplas, crea un diccionario en el que las claves son los nombres de los estados únicos y los valores son las listas con el número de empleados referentes al estado.
También crea un diccionario en el que las claves son los nombres de los estados y los valores son la suma de empleados por estado.

'''
empleados = [('CMX', 16), ('OAX', 8), ('PUE', 9), ('PUE', 6), ('CMX', 10), ('PUE', 4), ('OAX',9),  ('OAX', 7), ('OAX', 12), ('CMX', 7), ('CMX', 11), ('PUE',8), ('OAX',8), ('CMX',9), ('VER', 13), ('PUE', 5),  ('VER', 9), ('CMX', 12), ('PUE', 10), ('CMX', 7), ('OAX', 14), ('CMX', 10), ('PUE', 12)]

estados_unicos = list(set([city for city, employe in empleados]))

dict_base = {estados_unicos[i]: [employe for city, employe in empleados if city == estados_unicos[i]] for i in range(len(estados_unicos))}

dict_base_two = {estados_unicos[i]: sum([employe for city, employe in empleados if city == estados_unicos[i]]) for i in range(len(estados_unicos))}



print(dict_base, dict_base_two)
# valores_unicos = []
# [valores_unicos.append(value) for index, value in enumerate(empleados) if value[1] not in valores_unicos[index]]
# valores_unicos
# dic_normal = {empleados[i][0]: empleados[i][1] for i in range(len(empleados))}

# dic_normal

{'PUE': [9, 6, 4, 8, 5, 10, 12], 'VER': [13, 9], 'OAX': [8, 9, 7, 12, 8, 14], 'CMX': [16, 10, 7, 11, 9, 12, 7, 10]} {'PUE': 54, 'VER': 22, 'OAX': 58, 'CMX': 82}

In [ ]:
# 1 - Haz un programa que solicite a la persona usuaria ingresar dos números decimales y calcular la división entre estos números.
#  El código debe incluir un manejo de error, indicando el tipo de error que se generó si la división no es posible.
# try:

try:
  num1 = float(input(f"Ingresa un numero decimal: "))
  num2 = float(input("Ingresa un numero decimal: "))

  division = num1 / num2
except ValueError:
  print("El valor ingresado no es un numero decimal")
except ZeroDivisionError:
  print("No se puede divir entre 0 ")
else:
  print(f"El resultado de {num1} / {num2} es igual a {division}")

Ingresa un numero decimal: 1
Ingresa un numero decimal: 0
No se puede divir entre 0

In [ ]:
# 2 - Haz un programa que solicite a la persona usuaria ingresar un texto que será una clave a buscar en el siguiente diccionario:
# edades = {'Júlia': 16, 'Carol': 23, 'Alberto': 19, 'Roberta': 17},
# almacenando el resultado del valor en una variable. El código debe incluir un manejo de error KeyError, imprimiendo la información 'Nombre no encontrado' en caso de error, e imprimir el valor si no ocurre ninguno.

key = input("Ingresa un nombre para obtener una edad: ")

try:
  edades = {'Júlia': 16, 'Carol': 23, 'Alberto': 19, 'Roberta': 17}
  edad = edades[key]
except KeyError:
  print("El usuario ingresado no existe")
else:
  print(f"{key} tiene {edad} años")

Ingresa un nombre para obtener una edad: Alberto
Alberto tiene 19 años

In [ ]:
# 3 - Crea una función que reciba una lista como parámetro y convierta todos los valores de la lista a flotantes.
# La función debe incluir un manejo de error indicando el tipo de error generado y devolver la lista si no ha ocurrido ningún error.
# Por último, debe tener la cláusula finally para imprimir el texto: 'Fin de la ejecución de la función'.

def transform_list_to_int(lista:list):
  try:
    lista = [float(number) for number in lista]
  except ValueError:
    print(f"Algunos de los elementos de la lista no pueden ser convertidos a numero flotantes - elementos de la lista ->  { lista}")
  else:
    return lista
  finally:
    print("Fin de la ejecucion")

transform_list_to_int(["1", "a"])

Algunos de los elementos de la lista no pueden ser convertidos a numero flotantes - elementos de la lista ->  ['1', 'a']
Fin de la ejecucion

In [ ]:
'''
4 - Crea una función que reciba dos listas como parámetros y agrupe los elementos uno a uno de las listas, formando una lista de tuplas de 3 elementos.
El primer y segundo elemento de la tupla son los valores en la posición i de las listas y el tercer elemento es la suma de los valores en la posición i de las listas.

La función debe incluir un manejo de error indicando el tipo de error generado y devolver como resultado la lista de tuplas.
Si las listas enviadas como parámetro tienen tamaños diferentes, la función debe devolver un IndexError con la frase: 'La cantidad de elementos en cada lista es diferente.'.
'''

lista1 = [4, 6, 7, 9, 10]
lista2 = [-4, 6, 8, 7, 9]

def agrupar_listas(lista1, lista2):
    try:
        if len(lista1) != len(lista2):
            raise IndexError("La cantidad de elementos en cada lista es diferente.")

        lista_resultado = [(lista1[i], lista2[i], lista1[i] + lista2[i]) for i in range(len(lista1))]
        return lista_resultado
    except TypeError as e:
        print(f"Error: {e}")
    except IndexError as e:
        print(f"Error: {e}")
# Ejemplos de uso:
try:
    resultado_sin_error = agrupar_listas([4, 6, 7, 9, 10], [-4, 6, 8, 7, 9])
    print(resultado_sin_error)

    resultado_tamanos_diferentes = agrupar_listas([4, 6, 7, 9, 10, 4], [-4, 6, 8, 7, 9])
    print(resultado_tamanos_diferentes)

    resultado_valores_incoherentes = agrupar_listas([4, 6, 7, 9, 'A'], [-4, 'E', 8, 7, 9])
    print(resultado_valores_incoherentes)
except Exception as e:
    print(f"Error general: {e}")

[(4, -4, 0), (6, 6, 12), (7, 8, 15), (9, 7, 16), (10, 9, 19)]
Error: La cantidad de elementos en cada lista es diferente.
None
Error: unsupported operand type(s) for +: 'int' and 'str'
None